* {
    /*box-sizing: ;*/
    margin: 0;
    padding: 0;
}


ul {
    
    background-color: rgb(236, 186, 218);
}

body {
background-color: salmon;

}

.grid-container {

    text-align: center;
    justify-content: center;
    ;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

.header {
    grid-area: header;
    background-color: aqua;
    text-align: center;
}



.main {
    grid-area: main;
    background-color: blue;
}

.footer {
    grid-area: footer;
    background-color: brown
}




nav {
    background-color: pink;
    padding: 2px;
}



ul {
    font-weight: 900;
    color: royalblue;
}

section {justify-content: center;}


.imagenManolos {
    display: flex;
    flex-direction: row-reverse;
    margin-block: auto;
}

.imagenEventos {
    display: flex;
    flex-direction: row-reverse;
} 
li {max-width: 15%;}
.imagenMasa {
    display: flex;
    flex-direction: row-reverse;
}

ul {justify-content: center;
align-items: center;}

ul li {
    display: inline;
    margin: 0 50px;
}


tr {
    color: rgb(50, 11, 156);
}

thead {
    text-align: center;
}

footer {
    background-color: rgb(241, 91, 196);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}