* {
    /*box-sizing: ;*/
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}



head {
    text-align: center;
}
ul {min-width: 320, 600; background-color: red;}

body {

    display: grid;

    gap: 10px;
    text-align: center;
    min-height: 100%;

}

.grid-container {

    text-align: center;
    justify-content: center;
    ;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

.header {
    grid-area: header;
    background-color: aqua;
}



.main {
    grid-area: main;
    background-color: blue;
}

.footer {
    grid-area: footer;
    background-color: brown
}




nav {
    background-color: pink;
    padding: 2px;

}

.imagenEventos {
    justify-content: center;
}

.imagenManolos {
    justify-content: center;
}

.imagenMasa {
    justify-content: center;
}

ul {
    font-weight: 900;
    color: royalblue;
    }


/* p {
    font-size: heig;
} */
.d-block w-10 { justify-content: center;}

.imagenManolos {
    display: flex;
    flex-direction: row-reverse;
}

.imagenEventos {
    display: flex;
    flex-direction: row-reverse;
}

.imagenMasa {
    display: flex;
    flex-direction: row-reverse;
}
ul.navbar-nav {min-width: 320px;}


ul li {
    display: inline;
    margin: 0 50px;
}


tr {
    color: rgb(50, 11, 156);
}

thead {
    text-align: center;
}

footer {
    background-color: rgb(241, 91, 196);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}